*.user
*.aps
*.ncb
*.*sdf
*.suo
*.exp
*.ilk
*.pdb
*.obj
*.dmp
*.ipch

*.log*
*¸±±¾*
*_bk*
*bk_*

build/
temp/
out/
bin/
dist/

libls/3rd-party/src
libls/3rd-party/*/mysql
libls/3rd-party/*/log4cxx_vs2008
libls/doc/html/